<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TEMPLATE BELOW</title>
    <link rel="stylesheet" href="../static/css/main.css" />
  </head>
  <body>
    {{define "thinking"}}
    <div id="thinking" class="mb-1 mt-1"
      hx-get="/messages?offset={{.Offset}}"
      hx-trigger="load delay:3s"
      hx-target="this"
      hx-swap="outerHTML show:top"
    >
      <svg
        width="91"
        height="55"
        viewBox="0 0 91 55"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          x="10.2822"
          width="80.7175"
          height="48.3277"
          rx="24.1638"
          fill="#E8E8EA"
        />
        <ellipse
          cx="16.6307"
          cy="40.0288"
          rx="8.67138"
          ry="8.86864"
          transform="rotate(-20.5451 16.6307 40.0288)"
          fill="#E8E8EA"
        />
        <rect
          y="45.5"
          width="8.99718"
          height="8.99718"
          rx="4.49859"
          fill="#E8E8EA"
        />
        <g class="fill-gray-400" id="thinka">
          <circle cx="31.8757" cy="24.1637" r="7.96893" fill="fill-current" />
        </g>
        <g class="fill-gray-400" id="thinkb">
          <circle cx="50.6413" cy="24.1637" r="7.96893" fill="fill-current" />
        </g>
        <g class="fill-gray-400" id="thinkc">
          <circle cx="69.4069" cy="24.1637" r="7.96893" fill="fill-current" />
        </g>
      </svg>
    </div>
    {{end}}
  </body>
</html>
