@tailwind base;
@tailwind components;
@tailwind utilities;


.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}


@keyframes fadeInOpacity {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

#thinka {
  animation: loading-bar-morph 2s ease 0.1s infinite;
  transform-origin: center;
}

#thinkb {
  animation: loading-bar-morph 2s ease 0.2s infinite;
  transform-origin: center;
}

#thinkc {
  animation: loading-bar-morph 2s ease 0.4s infinite;
  transform-origin: center;
}

@keyframes loading-bar-morph {
  0% {
    transform: translateY(-5px);
    filter: brightness(100%)
  }
  25% {
    transform: translateY(0px);
    filter: brightness(80%)
  }
  50% {
    transform: translateY(2px);
    filter: brightness(80%)
  }
  75% {
    transform: translateY(0px);
    filter: brightness(100%)
  }
}
