<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HeyBubble.co</title>
    <link rel="stylesheet" href="/static/css/main.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.2"
      integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="h-screen bg-gray-50 dark:bg-slate-800">
    <div
      class="relative flex min-h-screen flex-col justify-center overflow-hidden py-6 sm:py-12 max-w-md mx-auto"
    >
      <div
        class="fade-in"
        hx-trigger="revealed delay:500ms"
        hx-get="/messages?offset=0"
        hx-swap="afterend"
        hx-target="#target"
      >
        <div id="target"></div>
      </div>

      <div class="p-0 mt-auto w-full">
        <a href="https://heybubble.co">
          <img
            class="h-8 max-w-lg mr-auto"
            src="/static/poweredby.png"
            alt="Powered By HeyBubble.co"
          />
        </a>
      </div>
    </div>
  </body>
</html>
